.gradingform_acbc-regrade {padding:10px;background:#FFDDDD;border:1px solid #F00;margin-bottom:10px;}
.gradingform_acbc-restored {padding:10px;background:#FFFFDD;border:1px solid #FF0;margin-bottom:10px;}
.gradingform_acbc-error {color:red;font-weight:bold;}

.gradingform_acbc_editform .status {font-weight:normal;text-transform:uppercase;font-size:60%;padding:0.25em;border:1px solid #EEE;}
.gradingform_acbc_editform .status.ready {background-color:#e7f1c3;border-color:#AAEEAA;}
.gradingform_acbc_editform .status.draft {background-color:#f3f2aa;border-color:#EEEE22;}

.gradingform_acbc.editor .criterion .controls,
.gradingform_acbc .criterion .description,
.gradingform_acbc .criterion .remark {vertical-align: top;}

.gradingform_acbc.editor .criterion .controls,
.gradingform_acbc.editor .criterion .description,
.gradingform_acbc.editor .criterion .remark {padding:3px;}

.gradingform_acbc .criteria {  }//height:100%;}
.gradingform_acbc .criterion {border:1px solid #DDD;overflow: hidden;}
.gradingform_acbc .criterion.even {background:#F0F0F0;}

.gradingform_acbc .criterion .description {}//width:100%;}
.gradingform_acbc .criterion .description .criterionmaxscore input {width:20px;}
.gradingform_acbc .criterion .description .criterionname {font-weight:bold;}
.gradingform_acbc .criterion label {font-weight:bold; padding-right: 5px}

.gradingform_acbc .plainvalue.empty {font-style: italic; color: #AAA;}
.gradingform_acbc .plainvalue.editname {font-weight:bold;}

/* Make invisible the buttons 'Move up' for the first criterion and 'Move down' for the last, because those buttons will make no change */
.gradingform_acbc.editor .criterion.first.last .controls .delete input,
.gradingform_acbc.editor .criterion.first .controls .moveup input,
.gradingform_acbc.editor .criterion.last .controls .movedown input {display:none;}

/* replace buttons with images */
.gradingform_acbc.editor .delete input,
.gradingform_acbc.editor .moveup input,
.gradingform_acbc.editor .movedown input{text-indent: -1000em;cursor:pointer;border:none;}
.gradingform_acbc.editor .criterion .controls .delete input {width:20px;height:16px;background: transparent url([[pix:t/delete]]) no-repeat center top;margin-top:4px;}
.gradingform_acbc.editor .moveup input {width:20px;height:15px;background: transparent url([[pix:t/up]]) no-repeat center top;margin-top:4px;}
.gradingform_acbc.editor .movedown input {width:20px;height:15px;background: transparent url([[pix:t/down]]) no-repeat center top;margin-top:4px;}

.gradingform_acbc.editor .addcriterion input,
.gradingform_acbc.editor .addcomment input {background: transparent url([[pix:t/add]]) no-repeat;display:block;color:#555555;font-weight:bold;text-decoration:none;}
.gradingform_acbc.editor .addcriterion input,
.gradingform_acbc.editor .addcomment input {background-position: 5px 8px;height:30px;line-height:29px;margin-bottom:14px;padding-left:20px;padding-right:10px;}

.gradingform_acbc .options .optionsheading {font-weight:bold;font-size:1.1em;padding-bottom:5px;}
.gradingform_acbc .options .option {padding-bottom:2px;}
.gradingform_acbc .options .option label {margin-left: 5px;}
.gradingform_acbc .options .option .value {margin-left: 5px;font-weight:bold;}

.gradingform_acbc .criterion .description.error {background:#FFDDDD;}

/* special classes for elements created by acbceditor.js */
.gradingform_acbc.editor .hiddenelement {display:none;}
.gradingform_acbc.editor .pseudotablink {background-color:transparent;border:0 solid;height:1px;width:1px;color:transparent;padding:0;margin:0;position:relative;float:right;}

.jsenabled .gradingform_acbc .markingacbccomment {cursor: pointer;}
.jsenabled .gradingform_acbc .markingacbccomment:before {
    content: url([[pix:t/add]]);
    padding-right:2px;
}
.dir-rtl.jsenabled .gradingform_acbc .markingacbccomment:before {
    padding-right: 0;
    padding-left: 2px;
}
.gradingform_acbc .commentheader  {font-weight:bold;font-size:1.1em;padding-bottom:5px;}

.jsenabled .gradingform_acbc .criterionnamelabel {display: none;}
.jsenabled .gradingform_acbc .criterionshortname {font-weight:bold;}
.gradingform_acbc table {width: 100%}
.gradingform_acbc .descriptionreadonly {
    vertical-align: top;
}
.gradingform_acbc .criteriondescriptionmarkers {width: 300px;}
.gradingform_acbc .markingacbcremark {
    margin: 0;
    width: 100%;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}
.gradingform_acbc .criteriondescriptionscore {display: inline;}
.gradingform_acbc .score label {
    display: block;
}

.gradingform_acbc .satisfaction .satisfactionlabel {
    display: block;
    padding-bottom:5px;
}

.gradingform_acbc .satisfaction {
    vertical-align:top;
    width: 12%;
}

.gradingform_acbc .satisfaction .satisfactionradio {
    margin-left: 5px;
}




.gradingform_acbc .score input {
    margin: 0;
    width: auto;
}
